@use './clientform';
@use './darkmode';
@use './loader';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --our-color1: #d12030;
    --our-color2: #19468b;
}


$shadow-1: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
$shadow-2: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
$bgcolor: #f8f9fa;

@mixin shadowmixin($shadow) {
    box-shadow: $shadow;
}


.myshadow {
    @include shadowmixin($shadow: $shadow-1)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color1 {
    color: var(--our-color1);
}

.color2 {
    color: var(--our-color2);
}

.bgcolor1 {
    background-color: var(--our-color1);
}

.bgcolor2 {
    background-color: var(--our-color2);
}

.cursor {
    cursor: pointer;
}

.btn-close {
    box-shadow: none !important;
    background: none;
    opacity: .8;
}

button.btn-close::before {
    content: "\F659";
    color: var(--bs-danger);
    display: inline-block;
    font-family: "bootstrap-icons" !important;
    font-style: normal;
    font-weight: 900;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
}

.dashboard {

    background-color: $bgcolor;

    .nav-link {
        font-weight: 500;
        color: rgb(105, 105, 105);
        padding: 15px 15px !important;
        margin: 5px 0;

        i {
            font-size: 1.1rem;
            padding: 6px 9px;
            border-radius: 8px;
            margin-right: 5px;
            @include shadowmixin($shadow: $shadow-2)
        }

        &.active {
            background-color: white;
            box-shadow: 0 20px 27px 0 rgba(0, 0, 0, .05);
            color: rgb(61, 61, 61);
            border-radius: 0.5rem;

            i {
                background-color: var(--our-color2);
                color: white;
            }
        }
    }

    .dash-sticky {
        position: sticky;
        top: 0;
        z-index: 999;
    }

}

.ourtable {
    background: white;
    border-radius: 10px;
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
    text-align: center;
    margin: 20px 0;

    table tbody {
        tr:last-child td {
            border: none;
        }
    }
}



.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: white;
    width: 60px;
    height: 30px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: $shadow-2;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.checkbox-label .ball {
    background-color: #212529;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 5px;
    top: 50%;
    border-radius: 50%;
    transition: transform 0.2s linear;
    transform: translate(0%, -50%);
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
}

.modal[aria-labelledby~="bids_value"] {
    table tbody {
        tr:nth-child(1) td {
            background-color: var(--bs-success);
            color: white;
            font-weight: 700;
            font-size: 18px;
        }
    }
}

@media (max-width: 992px) {
    .container-lg-fluid {
        width: 100%;
    }

    .navbar {
        min-height: auto !important;
    }

    .profile {
        background-color: transparent !important;

        p {
            font-size: 10px !important;
            font-weight: 400 !important;
        }
    }

    #navbarTogglerDemo01 {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #f6f7f8;
    }
}

._id {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
}

@media (min-width: 992px) {
    .container-lg-fluid {
        width: 100%;
        padding: calc(var(--bs-gutter-x) * 0.5);
    }
}